.container {
    max-width: 1150px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}


.brown {
    background-color: var(--brown-use);
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
}

.btn-outline {
    background-color: transparent;
    border: 1px #fff solid;
}

.btn:hover {
    transform: scale(0.98);
}

.btn-form-control {
    background-color: #5c4c3d;
}
.top {
    z-index:99;
}

.fixed-btn {
    position: fixed;
    bottom: 5%;
    right: 3%;
    background-image: url(../images/shrek_eyes.jpg);
    background-size: contain;
    width: 180px;
    height: 45px;
    line-height: 25px;
    text-align: center;
    border-radius: 3px;
    box-shadow: 4px 4px 4px #423f35;
    cursor: pointer;
}

.fixed-btn p {
    text-transform: uppercase;
    font-family: arial;
    font-weight: 900;
    color: rgb(247, 243, 7);
}

.fixb-container {
    width: 100%;
    height: 700px;
    padding: 50px 0;
}

.fixb-content {
    width: 600px;
    margin: 0 auto;
}

.fixb-content p {
    padding-bottom: 10px;
}

/* GET SHREKED*/

.shreking {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    background-color: rgba(0, 0, 0, 0.95);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
}

.close {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    filter: invert(1);
    max-width: 32px;
}

.shreking video {
    position:relative;
    max-width: 900px;
    outline: none;
}

.shreking.active {
    visibility: visible;
    opacity: 1;
}


/* Backgrounds and colored buttons*/

.bg-primary, .btn-primary {
    background-color: var(--primary-color);
}

.bg-primary {
    background-color: var(--primary-color);
}

.bg-footer {
    background-color: #0C3900;
}

.bg-primary a {
    color: #fff
}

/* Text sizes */

.lead {
    font-size: 20px;
}

.sm {
    font-size: 1rem;
}

.md {
    font-size: 2rem;
}

.lg {
    font-size: 3rem;
}

.xl {
    font-size: 4rem;
}

.text-center {
    text-align: center;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.grid1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

/*Margin */

.my-1 {
    margin: 1rem 0;
}

.my-2 {
    margin: 1.5rem 0;
}

.my-3 {
    margin: 2rem 0;
}

.my-4 {
    margin: 3rem 0;
}

.my-5 {
    margin: 4rem 0;
}

.m-1 {
    margin: 1rem;
}

.m-2 {
    margin: 1.5rem;
}

.m-3 {
    margin: 2rem;
}

.m-4 {
    margin: 3rem;
}

.m-5 {
    margin: 4rem;
}

/* Padding */
.py-1 {
    padding: 1rem 0;
}

.py-2 {
    padding: 1.5rem 0;
}

.py-3 {
    padding: 2rem 0;
}

.py-4 {
    padding: 3rem 0;
}

.py-5 {
    padding: 4rem 0;
}

.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 1.5rem;
}

.p-3 {
    padding: 2rem;
}

.p-4 {
    padding: 3rem;
}

.p-5 {
    padding: 4rem;
}

.dl-blurbs {
	display: grid;
}
/* LIST */
dl {
  counter-reset: count;
	padding-left: 4vw;
	padding-right: 4vw;
	margin: 0; 
    background: linear-gradient(90deg, rgba(0,0,0,0.04) 20%, rgba(255,255,255,0) 0%);
    font-weight: bold;
	
}
dl + dl {
	counter-reset: counter 4;
}
dt {
  counter-increment: count;
	color:#215732;
	font-size: 2vw;
	text-transform: uppercase;
    font-weight: bold;
}
dt::before {
  content: counter(count, decimal-leading-zero)".";
	margin-left: -1vw;
	padding-right: 12px;
    font-family: 'Montserrat', sans-serif;
}

dd {
	margin-left: 5vw;
	margin-bottom: 2vh;
    
}